// Variables et mixin
$firstColor: azure;
$secondColor: #333;
$thirdColor: black;
$fourColor: #FF9317;
$fiveColor: rgba(0, 0, 0, 0.7);
$sixColor: rgba(255, 255, 255, 0.2);
$firstFont: technovier;
$secondFont: zrnic;

@font-face {
  font-family: $firstFont;
  src: url('../../assets/fonts/Techovier Bold.otf');
}

@font-face {
  font-family: $secondFont;
  src: url('../../assets/fonts/Zrnic.otf');
}

@mixin formFont ($color, $family, $size, $spaccing) {
  color: $color;
  font-size: $size;
  font-family: $family;
  letter-spacing: $spaccing;
}

.studio {
  // TEAM
  .team {
    height: 960px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/picts/arkane/arkaneLyonFirstPict.png');
    position: relative;

    @media screen and (max-width: 1275px) {
      background-image: url('../../assets/picts/arkane/arkaneStudioAustin.png');
    }

    .about {
      position: absolute; 
      bottom: 0; 
      background: $fiveColor; 
      color: $firstColor; 
      width: 100%; 
      padding: 20px;

      @media screen and (max-width: 768px) {
        padding: 15px 20px 0px 15px;
        display: flex;
        flex-direction: column;
      }

      .description {
        font-weight: bold;
        margin: 0 auto;
        @include formFont($firstColor, $secondFont, 1.2em, 2px); 

        @media screen and (max-width: 1121px) {
          font-size: 1.0em;
        }

        @media screen and (max-width: 768px) {
         font-size: 0.9em;
         text-align: center;
         margin-bottom: -10px;
         overflow: auto;
         height: 60px;
        }
      }

      button {
        float: right;
        border-radius: 8px;
        padding: 5px 15px;
        letter-spacing: 4px;
        font-family: $firstFont;
        border: 1px solid $firstColor;
        background: transparent;
        transition: all ease-in 0.6ms;

        @media screen and (max-width: 1121px) {
          font-size: 0.8em;
        }

        @media screen and (max-width: 941px) {
          margin-top: 15px;
        }

        @media screen and (max-width: 768px) {
          margin: 25px auto;
        }

        a {
          font-size: 0.8em;
          color: $firstColor;
          font-weight: bold;
          text-decoration: none;
        }

        &:hover {
          transform: scale(1.1);
          box-shadow: 0px 0px 9px 7px $firstColor;
        }
      }
    }
  }
  
  // PROJECT
  .project {
    height: 480px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/picts/prey/preyJacketWallpaper.webp');

    @media screen and (max-width: 658px) {
      height: 390px;
    }

    @media screen and (max-width: 514px) {
      height: 280px;
    }

    @media screen and (max-width: 425px) {
      height: 260px;
    }

    h2 {
      text-align: center;
      margin-bottom: 20px;
      padding-top: 20px;
      @include formFont($firstColor, $firstFont, 1.9em, 4px);
      text-shadow: 2px 2px 0 $fiveColor, 2px -2px 0 $fiveColor, -2px 2px 0 $fiveColor, -2px -2px 0 $fiveColor, 2px 0px 0 $fiveColor, 0px 2px 0 $fiveColor, -2px 0px 0 $fiveColor, 0px -2px 0 $fiveColor;

      @media screen and (max-width: 425px) {
        font-size: 1.4em;
      }
    }
    
    .img-fluid {
      height: 350px;
      margin: auto;
      width: 100%;
      display: block;
      max-width: 800px; 
      opacity: 0.7;
      cursor: pointer;
      border-radius: 5px;
      border: 0px solid $firstColor;
      transition: all ease-in 0.5ms;

      @media screen and (max-width: 864px) {
        max-width: 600px;
      }

      @media screen and (max-width: 658px) {
        height: 280px;
        max-width: 470px;
      }

      @media screen and (max-width: 514px) {
        height: 160px;
        max-width: 400px;
      }

      @media screen and (max-width: 425px) {
        max-width: 320px;
      }

      @media screen and (max-width: 375px) {
        max-width: 260px;
      }

      &:hover {
        opacity: 1.0;
      }
    }
  }

  // JOBS
  .jobs {
  padding: 40px;
  background-image: url('../../assets/picts/arkane/lyonNigth.png');
  background-size: cover;
  background-position: center;
  color: $firstColor;
  text-align: center;

  h2 {
    margin-bottom: 20px;
    @include formFont($firstColor, $firstFont, 1.9em, 4px);
    text-shadow: 2px 2px 0 $fiveColor, 2px -2px 0 $fiveColor, -2px 2px 0 $fiveColor, -2px -2px 0 $fiveColor, 2px 0px 0 $fiveColor, 0px 2px 0 $fiveColor, -2px 0px 0 $fiveColor, 0px -2px 0 $fiveColor;
  }

  .jobs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: $fiveColor;
    border: 1px solid $sixColor;
    border-radius: 8px;
    overflow: hidden;
    transition: max-width 0.3s ease;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .job-titles {
      flex: 1;
      max-width: 300px;
      border-right: 1px solid $sixColor;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px;

      @media screen and (max-width: 768px) {
        border-right: none;
        display: block;
        margin: auto;
        border-bottom: 1px solid $sixColor;
      }

      .titleJobs {
        padding: 10px;
        border: 1px solid $sixColor;
        border-radius: 4px;
        cursor: pointer;
        transition: background 0.3s, transform 0.2s;
        @include formFont($firstColor, $secondFont, 1.2em, 3px);

        @media screen and (max-width: 375px) {
          font-size: 1.0em;
        }
        
        &:hover {
          background-color: lighten($fourColor, 10%);
          transform: scale(1.02);
        }

        &.active {
          color: $firstColor;
          background: $fourColor;
          font-weight: bold;
        }
      }
    }

    .job-details {
      flex: 2;
      padding: 20px;
      text-align: left;
      overflow-y: auto;
      max-height: 580px;

      @media screen and (max-width: 768px) {
        padding: 20px 10px;
        max-height: unset;
        text-align: center;
      }

      h3 {
        font-size: 1.5em;
        color: $fourColor;
        @include formFont($fourColor, $firstFont, 1.5em, 2px);
        text-transform: uppercase;

        @media screen and (max-width: 768px) {
          margin-bottom: -20px;
        }

        @media screen and (max-width: 320px) {
          font-size: 1.2em;
          margin-bottom: -20px;
        }
      }

      h4 {
        margin-top: 20px;
        text-decoration: underline;
        font-weight: bold;
        color: $firstColor;
        @include formFont($firstColor, $secondFont, 1.3em, 2px);

        @media screen and (max-width: 768px) {
          font-size: 1.5em;
          margin-top: 40px;
        }

        @media screen and (max-width: 320px) {
          font-size: 1.2em;
        }
      }

      ul {
        list-style-type: disc;
        padding-left: 10px;
        color: $firstColor;

        @media screen and (max-width: 768px) {
          list-style-type: none;
        }

        li {
          margin-bottom: 10px;
          font-size: 1em;
          line-height: 1.4;
          margin-right: 10px;
          @include formFont($firstColor, $firstFont, 1em, 1px);

          @media screen and (max-width: 768px) {
            font-size: 1.2em;
          }

          @media screen and (max-width: 425px) {
            font-size: 0.8em;
            margin-bottom: 20px;
          }
        }
      }

      .apply-button {
        position: relative;
        float: right;
        margin-top: 10px;
        padding: 10px 20px;
        background-color: $firstColor;
        color: $thirdColor;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        transition: background 0.3s;

        &:hover {
          color: $firstColor;
          background-color: $fourColor;
        }
      }
    }
  }
}

}
